*{
  margin: 0;
  padding: 0;
}
.App{
  position: absolute;
  width: 40%;
  background-color: rgb(255, 255, 255);
  margin-left: 30%;
  top: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px 0px rgba(160, 160, 160, 0.75);
  padding: 20px;
}
header{
  font-size: 1.5em;
  padding: 15px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.input{
  width: 55%;
  height: 35px;
  padding: 5px;
  font-size: .9em;
  border:  1px solid rgb(190, 191, 255);;
  outline:none;
}
.task{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(133, 133, 133);
  padding-left: 35px;
  /* margin: 10px 0; */
  box-shadow: 1px 1px 3px 0px rgba(168,168,168,1);
}
.addTaskBtn{
  width: 12%;
  background-color: rgb(112, 134, 255);
  color: rgb(240, 240, 240);
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: .9em;
  margin-left: -15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(102, 102, 102, 0.75);
  cursor: pointer;
}
.custom-control-label::before, .custom-control-label::after{
  top: .6rem;
  width: 1.1rem;
  height: 1.1rem;
}

.addTaskBtn:hover{
  background-color: rgb(97, 121, 255);
  box-shadow: 0px 0px 4px rgba(170, 170, 170, 0.75);
  color: white;
}
.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}
.form-control{
  width: 80%;
}
.btn-lg{
  margin: 0 5% 0 2%;
}
.switch{
  margin-right: 5px;
}

@media(max-width: 1300px){
  .App{
    width: 60%;
    margin-left: 20%;
  }
}
@media(max-width: 900px){
  .App{
    width: 80%;
    margin-left: 10%;
  }
}
@media(max-width: 600px){
  .App{
    width: 100%;
    margin-left: 0%;
    top: 0;
  }
  .form-control{
    width: 100%;
    /* margin-left: 5%; */
  }
  header{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .btn-lg {
    margin: 10px 5% 0 0;
  }
  .switch {
    margin-right: 5px;
    margin-top: 10px;
  }
}
/* @media(max-width: 1300px){
  .App{
    width: 60%;
    margin-left: 20%;
  }
} */